<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New User</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Add New User</h1>
<form th:action="@{/admin/users}" method="post">
  <label>Name:</label>
  <input type="text" name="name" required>
  <label>Last Name:</label>
  <input type="text" name="lastName" required>
  <label>Email:</label>
  <input type="email" name="email" required>
  <label>Password:</label>
  <input type="password" name="password" required>

  <label>Admin:</label>
  <input type="checkbox" name="admin" value="true"> Admin

  <button type="submit">Save</button>
</form>
<a th:href="@{/admin}">Back to Users</a>
</body>
</html>
