<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h1>User Details</h1>
<p>ID: <span th:text="${user.id}"></span></p>
<p>Name: <span th:text="${user.name}"></span></p>
<p>Last Name: <span th:text="${user.lastName}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>
    <strong>Role:</strong>
    <span th:each="role : ${user.roles}" th:text="${role.name}">Role</span>
</p>

<a th:href="@{/admin}">Back to Users</a>
</body>
</html>